version: 2.1

orbs:
  android: circleci/android@0.2.1

jobs:
  build:
    docker:
      - image: circleci/android:api-28

    steps:
      - checkout

      - circleci-images/install-android-ndk
          ndk-version: android-ndk-r21d # or any other version

      - run:
          command: ./gradlew build
          #connectedAndroidTest
#################################################

      - run:
          name: Setup emulator
          command: sdkmanager "system-images;android-28;default;armeabi-v7a" && echo "no" | avdmanager create avd -n test -k "system-images;android-28;default;armeabi-v7a"
      - run:
          name: Launch emulator
          command: export LD_LIBRARY_PATH=${ANDROID_HOME}/emulator/lib64:${ANDROID_HOME}/emulator/lib64/qt/lib && emulator64-arm -avd test -noaudio -no-boot-anim -no-window -accel on
          background: true
      - run:
          name: Run Tests
          command: ./gradlew connectedAndroidTest

